# Next.js public — Browser visible
NEXT_PUBLIC_APP_URL=http://localhost:3001

# Server-only — NOT Browser visible
BACKEND_URL=http://localhost:3000/api/v1

# Public — Browser visible, Used to initiate OAuth redirect to NestJS
NEXT_PUBLIC_BACKEND_OAUTH_URL=http://localhost:3000/api/v1