{
  "arrowParens": "always",
  "bracketSpacing": true,
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "jsxSingleQuote": false,
  "objectWrap": "preserve",
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
